{% extends 'home.html' %}
{% load staticfiles %}
{#{% load widget_tweaks %}#}

{% block content %}
{{ block.super}}


  <!--

<div class="jumbotron text-center">
  <h3>You Can Contact Us </h3>
</div> -->

<div class="container">
  <div class="row">


    <!--<div class="container">
    	<div class="row-fluid">
            <div class="span8"> -->
      <div class="col-sm-7">
              <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Queen%20Mary&key=AIzaSyAWJGw-f9GjEigk2zo1giTR2swsmKbfPPE" allowfullscreen></iframe>      </div>

          	<div class="span4">
            <h2>Address</h2>
        		<h3>Booking Doctor appointment </h3>
        		<address>
        			<strong>Queen Marry University of London</strong><br>
        			Mile End<br>
        			United Kingdon<br>
        			London<br>
        			<abbr title="Phone">Phone:</abbr> 07908173769
        		</address>
        	</div>
  <!--
        </div>
    </div> -->

</div>

  <!--
    <div class="col-sm-6">
      <h3> PHONE NO</h3>
        <p>  +4407908173769
          Operator Help - 9</p>
        <p> EMERGENCY LAND PHONE
        +4407908173769
        </p>
        <p>
        POBOX Mobile +4407908173769
        FAX : +4407908173769 (General),+4407908173769 (Commercial)</p>
    </div>
-->

  </div>
</div>



{% endblock %}
