{% extends 'home.html' %}
{% load staticfiles %}
{#{% load widget_tweaks %}#}

{% block content %}
{{ block.super}}
<div class="feedback">
<form action="{% url 'base:feedback' %}" method="post" id="form">
    {% csrf_token %}
    <div class="container">
	    <div class="row">
	        <div class=' col-xs-12 col-sm-4 '>
	        	<b>Feedback:</b>
	            <div class="form-group">
	                <div class='input-group'>
{#	                    {{ form.feedback | attr:"style:width:100%;height:200px" }}#}
                        <textarea style="color: gray; background-color: white" rows="4" cols="50" name="feedback" style="width: 100%;height: 200px">
Please Give Your Feedback Here...</textarea>
	                </div>
	            </div>
	            <button type="submit" class="btn btn-success" id="create">Create</button>
	        </div>
	    </div>
  	</div>
</form>
</div>
<br>
<br>
<p class="col-lg-offset-1" id="tks" style="display: none;color: #1e7e34">Thanks for your feedback..</p>
{% endblock %}
{% block js_content %}
<script>
	$("#create").click(function($event){
		$event.preventDefault();
	    $("#tks").show();
	    setTimeout(function(){
	        $("#tks").hide();
	    	$('#form').submit();
	    }, 2000);
	});
</script>
{% endblock %}
