 {% extends 'home.html' %}
{% load staticfiles %}
{#{% load widget_tweaks %}#}

{% block content %}
{{ block.super}}

<style>
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
</style>

<h2>Image Gallery</h2>
<h4>We have the Future.</h4>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/5.jpg">
      <img src="../media/image/5.jpg" alt="Trolltunga Norway" width="600" height="200">
    </a>
    <div class="desc">Our Hospital has a large ground.</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/6.jpg">
      <img src="../media/image/6.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Doctors are very much effective.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/7.jpg">
      <img src="../media/image/7.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">We have always group Discussions.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/8.jpeg">
      <img src="../media/image/8.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Heighly decorated Room Facility.</div>
  </div>
</div>



<div class="clearfix"></div>
    <div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/8.jpeg">
      <img src="../media/image/9.jpg" alt="Trolltunga Norway" width="600" height="200">
    </a>
    <div class="desc">We are happy To help patients.</div>
  </div>
</div>


<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/3.jpg">
      <img src="../media/image/3.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">We have higher Technology.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/2.jpg">
      <img src="../media/image/2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Patients room looking Cools here.</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="../media/image/1.jp1g">
      <img src="../media/image/1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">It's our dream,hope,future.</div>
  </div>
</div>



<div class="clearfix"></div>



<div style="padding:6px;">

</div>







{% endblock %}
