{% extends 'home.html' %}
{% load staticfiles %}
{#{% load widget_tweaks %}#}

{% block content %}
{{ block.super}}




<style>
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 50%;
}

@media only screen and (max-width: 700px){
  .responsive {
      width: 49.99999%;
      margin: 6px 0;
  }
}

@media only screen and (max-width: 500px){
  .responsive {
      width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h2>Here is Some of Our Stuffs </h2>
<h4>We have the Future.</h4>



<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/12.jpg">
    <img src="../media/image/12.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Dr. Steve Bruce (PSYCHIATRIS).</div>
</div>
</div>


<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/177.jpg">
    <img src="../media/image/177.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Dr. Elen Jones (ADDICTION-PSYCHIATRIST) </div>
</div>
</div>

<!--
<div class="clearfix"></div>

  <div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/15.jpg">
    <img src="../media/image/15.jpg" alt="Trolltunga Norway" width="600" height="200">
  </a>
  <div class="desc">Dr.Helen Richard (CARDIOLOGIST)</div>
</div>
</div> -->

<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/15.jpg">
    <img src="../media/image/15.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Dr. Elen Jones (ADDICTION-PSYCHIATRIST) </div>
</div>
</div>


<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/11.jpg">
    <img src="../media/image/11.jpg" alt="Trolltunga Norway" width="600" height="200">
  </a>
  <div class="desc">Dr. Kim Daniel (ACUPUNCTURIST).</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/156.jpg">
    <img src="../media/image/156.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Dr. Mark Zak(PEDIATRICIAN)</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/17.jpg">
    <img src="../media/image/17.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Dr. Ana Gomez (ALLERGIST)</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/13.jpg">
    <img src="../media/image/13.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Dr. Depak Chopra (PSYCHOLOGIST)</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
  <a target="_blank" href="../media/image/133.jpg">
    <img src="../media/image/133.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Dr. Steve Macmilan (PEDIATRICIAN)</div>
</div>
</div>
<div class="clearfix"></div>



<div style="padding:6px;">


</div>





{% endblock %}
